.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 72vh;
}
.im-par{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.ip{
    margin-bottom: 15px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid blue;
}
.btn-login{
    height: 35px;
    background: blue;
    width: 200px;
    border: blue;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-disable{
    opacity: 0.5;
}