<div>
    <div *ngIf="!changePwd" class="form">
        <div class="im-par">
            <!-- <input type="email" class="ip"  [(ngModel)]="email" placeholder="Enter Email" [email]="true" #prmEmail="ngModel"> -->
            <mat-form-field class="search" appearance="outline">
                <mat-label>Enter Email</mat-label>
                <input name="primaryEmail" type="email" [(ngModel)]="email" matInput placeholder="Enter Email" [email]="true" #prmEmail="ngModel">
            </mat-form-field>

            <!-- <input name="primaryEmail" type="email" class="ip" [(ngModel)]="email" placeholder="Enter Email" [email]="true" #prmEmail="ngModel">  -->
            <span class="error"  *ngIf="prmEmail.errors?.['email']"> 
                Enter Valid Email 
            </span> 

            <mat-form-field *ngIf="isOtpSent" class="search" appearance="outline">
                <mat-label>Enter OTP</mat-label>
                <input name="primaryEmail" type="number" [(ngModel)]="otp" matInput placeholder="Enter OTP">
            </mat-form-field>

            <!-- <input *ngIf="isOtpSent" type="number" class="ip" placeholder="Enter OTP" [(ngModel)]="otp"> -->
        </div>
        <div>
            <button *ngIf="!isOtpSent" [disabled]="(!(email.length > 0) || prmEmail.errors?.['email'])" [ngClass]="{'disabled' : (!(email.length > 0) || prmEmail.errors?.['email']) , 'btn-login' : true}" (click)="getOtp()">Get OTP</button>
            <button *ngIf="isSubmit" class="btn-login" (click)="submitOtp()" [ngClass]="{'disabled' : ((!(email.length > 0) || prmEmail.errors?.['email']) || !(otp))}">SUBMIT</button>
        </div>
    </div>
    <div class="form" *ngIf="changePwd">
        <div class="im-par">
            <!-- <input type="email" class="ip"  [(ngModel)]="email" placeholder="Enter Email" [email]="true" #prmEmail="ngModel"> -->
            <input name="primaryEmail" type="password" class="ip" [(ngModel)]="pwd1" placeholder="Enter Password"> 
            <input *ngIf="isOtpSent" type="password" class="ip" placeholder="Confirm Password" [(ngModel)]="pwd2">
        </div>
        <div>
            <button class="btn-login" [ngClass]="{'disabled' : (!pwd1 || !pwd2)}" (click)="confirmOtp()" >Update</button>
        </div>
    </div>
    </div>