<app-navbar></app-navbar>
<div>
    <div class="form">
        <div class="im-par">
            <input type="text" class="ip" [(ngModel)]="product" placeholder="Product name">
            <input type="text" class="ip" [(ngModel)]="purpose" placeholder="Writer purpose">
            <input type="number" class="ip" [(ngModel)]="amount" placeholder="Enter amount">
            <input type="date" class="ip" [(ngModel)]="date" placeholder="please select date">
        </div>
        <div>
            <button class="btn-login" [disabled]="isSumit" (click)="Submit()">Submit</button>
        </div>
    </div>
    </div>