.img-i{
    border-radius: 20px;
    margin: 5px 0 0 5px;
}
.img{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    background: #233a44;;
    background-size: cover;
    box-shadow: 1px 3px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin: 6px 0 6px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.btn-item{
    height: 35px;
    width: 60px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
}
.add{
    margin-top: 10px;
}
.a-t{
    text-decoration: none;
    color: white;
}
/* .card{
    background-color: black;
} */
.view{
    background-color: deeppink;
}
.marque-text{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clear-all{
    width: 150px;
    height: 35px;
    background: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.rolee{
    float: right;
    margin: 10px;
}
.get-pdf{
    width: 150px;
    height: 35px;
    background: rgb(9, 128, 72);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.delete-all{
    opacity: 0.5;
}
.btn-r{
    width: 50%;
    height: 48px;
    border: none;
    border-right: 1px solid black;
    color: white;
    background: gray;
    font-size: 18px;
    font-weight: bold;
}
.home{
    border: none;
}
.bg-active{
    background-color: rgb(82, 39, 161);
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.active{
    border-bottom: 5px solid #3838a0;
    padding-bottom: 10px;
}